body {
  background-color: #0a1f44;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  height: 100vh;
  margin: 0;
  padding: 70px;
  text-align: center; 
}

.api,
.top-banner{
  color: white;
}

.ajax-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cities {
  list-style: none; 
  padding: 0;
}

.city {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px auto; 
  padding: 20px;
  background-color: #919191; 
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.city-name {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-size: calc(1em + 1vw);
}

.image-temp{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-bottom: 100px;
  font-family: 'Roboto', sans-serif;
  font-size: 0.5em;
  font-size: calc(1em + 1vw);
}



.city-icon {
  width: 128px;
  height: 128px;
}

.additional-info {
  font-size: 14px;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-size: calc(0.5em + 0.5vw);
}

.page-footer {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-family: 'Roboto', sans-serif;
  font-size: 3.5em;
  font-size: calc(1.5em + 1vw);
}

input, button {
  font-size: calc(1em + 0.5vw);
  height: 40px;
  padding: 5px 5px 10px;
  background-color: #0a1f44;
  color: white;
  border: none;
  border-bottom: 1px solid;
}

input[type="text"]::placeholder {
  color: white; 
}

button {
  color: white;
  text-transform: uppercase;
  padding: 5px 30px;
  font-size: calc(1em + 0.5vw);
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
  background-color: red;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}




@media (min-width: 700px) {
  form {
    flex-direction: row;
    align-items: center;
  }
  
  input {
    margin-right: 10px;
    margin-bottom: 0; 
  }
  
  button {
    margin-top: 0; 
  }
  .city {
    flex-direction: row;
    align-items: center;

  }
}
